<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="userName">
        {{ userName }}
    </div>

    <div id="application">
        <input type="date" v-model="birthDate"> 
        {{ calculateAge }} 

    </div>
    <div id="app3">
        <form>
			<p>Alege limbajul de programare</p>
			<label><input type="radio" v-model="JavaScript">JavaScript</label>
			<label><input type="radio" v-model="Python"> Python</label>	
			<label><input type="radio" v-model="Java"> Java </label>
			</div>
            <label>Experienta</label>
            <input type="text" v-model="Experienta"></input>
            <label>ani</label>
		</form>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="test.js"></script>
</body>
</html>
